/******************************************************************
Site Name:
Author:

Stylesheet: color variables.

******************************************************************/

$keycolor1:		#f01d4f;
$keycolor2:		#6f7262;
$bgcolor1:		#eee;
$link-color:	$keycolor2;
$link-hover:	darken($link-color, 9%);
$border-color:	#DDD;