/******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

******************************************************************/

/* for example 

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/